{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

    <!-- Page Header-->
    <header class="masthead" style="background-image: url({{ asset('assets/img/home-bg.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Posts</h1>
                        <span class="subheading">Post Index</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {% for entity in list %}
                <div class="post-preview">
                    <a href="{{ path('post_detail', {'id': entity.id}) }}">
                        <h2 class="post-title">{{ entity.title }}</h2>
                        {# <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3> #}
                    </a>

                    <p class="post-meta">
                        {% if entity.user %}
                            Posted by
                            <a href="{{ path('user_detail', {'id': entity.user.id}) }}">{{ entity.user.firstname ~ ' ' ~ entity.user.lastname }}</a>
                        {% endif %}
                        on {{ entity.createdAt | date('Y-m-d H:i:s') }}
                    </p>

                </div>


                <hr />
                {% endfor %}

                <!-- Pager-->
                <!--<div class="clearfix"><a class="btn btn-primary float-right" href="#!">Older Posts →</a></div>-->
            </div>
        </div>
    </div>


{% endblock %}