{% extends 'base.html.twig' %}

{% set pageName = 'Post' %}

{% block title %}New {{ pageName }}{% endblock %}

{% block body %}

    <!-- Page Header-->
    <header class="masthead" style="background-image: url({{ asset('assets/img/home-bg.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>New {{ pageName }}</h1>
                        <span class="subheading">Create New {{ pageName }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>New {{ pageName }}</p>

                {{ form_start(form) }}

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            {# <label>Content</label> #}
                            {{ form_row(form.content) }}
                        </div>
                    </div>

                    <button class="btn btn-primary" id="sendPostButton" type="submit">Send</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}