{% extends 'base.html.twig' %}

{% block body %}

    <!-- Page Header-->
    <header class="masthead" style="background-image: url({{ asset('assets/img/post-bg.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">

                        <span class="meta">
                            {% if entity.user %}
                                Posted by
                                <a href="{{ path('user_detail', {'id': entity.user.id}) }}">{{ entity.user.firstname ~ ' ' ~ entity.user.lastname }}</a>
                            {% endif %}
                            Created {{ entity.createdAt | date('Y-m-d H:i:s') }}
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content-->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>{{ entity.content }}</p>
                </div>
            </div>

            {% if entity.post %}
                In Post: <a href="{{ path('post_detail', {'id': entity.post.id}) }}">{{ entity.post.title }}</a>
            {% endif %}

            <hr/>

            <div class="row">
                {% if hasEntityAuthUser(app.user, entity, "") %}
                    <div class="col-md-3">
                        <a href="{{ deleteLink }}">Sil</a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ editLink }}">Düzenle</a>
                    </div>
                {% endif %}

                <div class="col-md-3">
                    <a href="{{ indexLink }}">Listeye Dön</a>
                </div>
                <div class="col-md-3">
                    <a href="{{ createLink }}">Yeni Oluştur</a>
                </div>
            </div>

            <hr/>



        </div>
    </article>

{% endblock %}
