{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

    <!-- Page Header-->
    <header class="masthead" style="background-image: url({{ asset('assets/img/home-bg.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Comments</h1>
                        <span class="subheading">Comment Index</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {% for entity in list %}
                <div class="post-preview">
                    <a href="{{ path('comment_detail', {'id': entity.id}) }}">
                        <h2 class="post-title">{{ entity.content }}</h2>
                        {# <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3> #}
                    </a>

                    <p class="post-meta">
                        {% if entity.user %}
                            Posted by
                            <a href="{{ path('comment_detail', {'id': entity.user.id}) }}">{{ entity.user.firstname ~ ' ' ~ entity.user.lastname }}</a>
                        {% endif %}
                        on {{ entity.createdAt | date('Y-m-d H:i:s') }}
                    </p>

                    {% if entity.post %}
                        In Post: <a href="{{ path('post_detail', {'id': entity.post.id}) }}">{{ entity.post.title }}</a>
                    {% endif %}

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('comment_create') }}">Yeni Yorum Yap</a>
                    </div>
                </div>

                <div class="row">
                    {% if hasEntityAuthUser(app.user, entity, "getUser") %}
                    <div class="col-md-3">
                        <a href="{{ path('comment_delete', {'id': entity.id}) }}">Sil</a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ path('comment_edit', {'id': entity.id}) }}">Düzenle</a>
                    </div>
                    {% endif %}
                    <div class="col-md-3">
                        <a href="{{ indexLink }}">Listeye Dön</a>
                    </div>
                    <div class="col-md-3">
                        <a href="{{ createLink }}">Yeni Oluştur</a>
                    </div>
                </div>
                <hr />
                {% endfor %}

                <!-- Pager-->
                {% include 'common/pagination.html.twig' with { indexRoute: 'comment_index' } %}
            </div>
        </div>
    </div>


{% endblock %}