{% if indexRoute is defined %}
    <div class="clearfix">
    {% if currentPage < lastPage %}
        <a class="btn btn-primary float-right" href="{{ path(indexRoute, app.request.query.all|merge({'page': nextPage, 'limit': limit})) }}">Next Posts →</a>
    {% endif %}

    {% if currentPage > 1 %}
        <a class="btn btn-primary float-right" href="{{ path(indexRoute, app.request.query.all|merge({'page': prevPage, 'limit': limit})) }}">← Prev Posts</a>
    {% endif %}
    </div>
{% endif %}