{% extends 'base.html.twig' %}

{% block body %}

    <!-- Page Header-->
    <header class="masthead" style="background-image: url({{ asset('assets/img/post-bg.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ entity.firstname ~ '' ~ entity.lastname }}</h1>
                        {# <h2 class="subheading">Problems look mighty small from 150 miles up</h2> #}

                        <span class="meta">
                            Created {{ entity.createdAt | date('Y-m-d H:i:s') }}
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content-->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>Id: {{ entity.id }}</p>
                    <p>Firstname: {{ entity.firstname }}</p>
                    <p>Lastname: {{ entity.lastname }}</p>

                    {% if hasEntityAuthUser(app.user, entity, "") %}
                        <p>Email: {{ entity.email }}</p>
                    {% endif %}
                </div>
            </div>

            <hr/>

            <div class="row">
                {% if hasEntityAuthUser(app.user, entity, "") %}
                <div class="col-md-3">
                    <a href="{{ deleteLink }}">Sil</a>
                </div>
                <div class="col-md-3">
                    <a href="{{ editLink }}">Düzenle</a>
                </div>
                {% endif %}

                <div class="col-md-3">
                    <a href="{{ indexLink }}">Listeye Dön</a>
                </div>
                <div class="col-md-3">
                    <a href="{{ createLink }}">Yeni Oluştur</a>
                </div>
            </div>

            <hr/>

            <div class="row">
                <h3>User's Posts</h3>
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% for post in entity.posts|slice(0, 10) %}
                        <div class="post-preview">
                            <a href="{{ path('post_detail', {'id': post.id}) }}">
                                <h2 class="post-title">{{ post.title }}</h2>
                                {# <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3> #}
                            </a>

                            <p class="post-meta">
                                {% if post.user %}
                                    Posted by
                                    <a href="{{ path('user_detail', {'id': post.user.id}) }}">{{ post.user.firstname ~ ' ' ~ post.user.lastname }}</a>
                                {% endif %}
                                on {{ post.createdAt | date('Y-m-d H:i:s') }}
                            </p>

                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </article>

{% endblock %}
