{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <!-- Page Header-->
    <header class="masthead" style="background-image: url({{ asset('assets/img/home-bg.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Users</h1>
                        <span class="subheading">User Index</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {% for entity in list %}
                    <div class="post-preview">
                        <a href="{{ path('user_detail', {'id': entity.id}) }}">
                            <h2 class="post-title">{{ entity.firstname ~' '~ entity.lastname }}</h2>
                            {# <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3> #}
                        </a>

                    </div>

                    <div class="row">
                        {% if hasEntityAuthUser(app.user, entity, "") %}
                        <div class="col-md-3">
                            <a href="{{ path('user_delete', {'id': entity.id}) }}">Sil</a>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ path('user_edit', {'id': entity.id}) }}">Düzenle</a>
                        </div>
                        {% endif %}
                        <div class="col-md-3">
                            <a href="{{ indexLink }}">Listeye Dön</a>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ createLink }}">Yeni Oluştur</a>
                        </div>
                    </div>
                    <hr />
                {% endfor %}

                <!-- Pager-->
                {% include 'common/pagination.html.twig' with { indexRoute: 'user_index' } %}
            </div>
        </div>
    </div>

{% endblock %}